@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";




@include resetcss;
@include fonts;
body {
    font-family: 'robotoregular', sans-serif; 
    font-size: em(16, $tbase);
}
a {text-decoration: none;
color: inherit;}
h1{display: none;}
h2{
    font-size: em(23, $tbase);
    font-weight: 700;
  }
.load-spinner{
    position: fixed;
    margin-top: -100vh;
    width: 100vw;
    height: 100vh;
    background: $gris-footer;
    opacity: .9;
    z-index: 150;
    animation: fadein 3s;
    & &--loader {
       display: inline-block;
       position: relative;
       height: em(80, $tbase);
       width: em(80, $tbase);
       margin-top: em(300, $tbase);
       margin-left: purcen(45);
       color: $gris-section;
       & div {
        transform-origin: em(40, $tbase);
        animation: anim-loader 1.5s linear infinite;
      }
      & div::after {
        content: " ";
        display: block;
        position: absolute;
        top: em(15, $tbase);
        left: em(50, $tbase);
        width: em(7, $tbase);
        height: em(7, $tbase);
        border-radius: purcen(50);
        background: #fff;
      }
    }
}
@include loader;
@keyframes fadein {
    0% {
     margin-top: 0;
    }
    99% {
     margin-top: 0;
    }
    100% {
      margin-top: -100vh;
    }
}
@keyframes anim-loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
header {
    @include flexbox;
    @include fj-c__center;
    text-align: center;
    height: em(52, $tbase);
}
.localisation {
    @include flexbox;
    @include fj-c__center;
    height: em(50, $tbase);
    width: 100%;
    background-color: $gris-input;
    box-shadow: 0 em(4, $tbase) em(4, $tbase) 0 $gris-top inset;
    & &--picto {  
        width: em(29.7, $tbase);
        line-height: em(52, $tbase);
        font-size: rem(16.5, $tbase);
    }
    & &--quartier {
        width: em(134.7, $tbase);
        height: em(50, $tbase);
        border: 0 $transparent;
        background: $transparent;
        color: #000;
        font-weight: 700;
        font-size: rem(16, $tbase);
        line-height: em(16, $tbase);
        &:focus {
            outline: none;
          }
    }
}
.presentation {
  background-color: $gris-section;
  padding: em(42, $tbase) 0 em(57, $tbase) 0;
  text-align: center;
  & h2 {
    padding: 0 25vw 0 25vw;
  }
  & p {
    padding: em(21.7, $tbase) 15vw 0 15vw;
  }
}
.btn {
    margin-top: em(30.8, $tbase);
    @include button;
    @include degrade;
    &:hover {
     @include button__hover;
     @include degrade__hover;   
    }
}   
.fonctionnement {
    width: 100vw;
    & &--flex {
        @include flexbox;
        justify-content: space-between; 
    }
  }
  .choix {
    @include flexbox;
    align-items: center;
    margin-top: em(31.7, $tbase);
    & &--n {
        width: em(24.6, $tbase);
        height: em(24.6, $tbase);
        font-weight: 800;
        text-align: center;
        color: #fff;
        line-height: em(24.6, $tbase);
        background: $primaire;
        border-radius: 50%;
        z-index: 5;
    }
    & &--intitule {
      @include flexbox;
      align-items: center;
        height: em(74, $tbase);
        margin-left: (em(24.6, $tbase) / 2) * -1;
        border-radius: em(25, $tbase);
        background: $gris-section;
        box-shadow: rgba($gris-moyen, 0.3) 0 0 em(10, $tbase);
      & :nth-child(1) {
        width: 4.7vw;
        font-size: em(17, $tbase);
        color: $gris-moyen;
      }
      & :nth-child(2) {
        margin-left: 5.5vw;
        font-weight: 700;
      }    
      }
  }  
  .choix:hover {
    & :nth-child(2) {
      background-color: $gris-hover;
      & :nth-child(1) {
        color: $primaire;
      }
    }
  }
  section {
    @include flexbox;
    flex-wrap: wrap;
    width: 100vw;
    background: $gris-section;
    & h2 {
      width: 100vw;
      padding-bottom: em(23.3, $tbase);
    }
    & article {
      @include flexbox;
      & figure {
        height: em(251, $tbase);
        border-radius: em(14, $tbase);
        box-shadow: rgba($gris-moyen, 0.3) 0 em(4, $tbase) em(10, $tbase);
        margin-bottom: em(18.3, $tbase);
      }
    }
  }
  .figure--flex {
      @include flexbox;
      flex-wrap: nowrap;
      justify-content: flex-end;
      height: em(173.5, $tbase);
      width: 100%;
      overflow: hidden;
      background: green;
      border-radius: em(14, $tbase) em(14, $tbase) 0 0;
      & :nth-child(1) {
        width: 100%;
      }
      & :nth-child(2) {
        position: absolute;
        height: em(29, $tbase);
        width: em(79.8, $tbase);
        margin: em(13, $tbase) em(11.8, $tbase) 0 0;
        text-align: center;
        line-height: em(29, $tbase);
        color: darken($tertiaire, 50);
        background: $tertiaire;
        border-radius: em(2.5, $tbase);
        z-index: 10;
      }
  } 
  #img-pg {
    transform: scale(1.04, 1.3) translate(em(4.9, $tbase) * -1, em(20, $tbase) * -1);
   filter: contrast(110%) brightness(110%) opacity(90%);
  }
  
  figcaption {
    margin: 0 em(24, $tbase) 0 em(14.7, $tbase);
    & :nth-child(1) {
      margin-top: em(20.8, $tbase);
      font-weight: 700;
    }
    & :nth-child(2) {
      margin-top: em(7.3, $tbase);
    }
  }
.coeur {
  @include flexbox;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: rem(25, 16);
  z-index: 10;
  & :nth-child(1) i {
    -webkit-text-stroke: 1px #000;
    color: transparent;
    opacity: 1;
    transition: opacity 5s; 
  }
  & :nth-child(2) i {
    margin-left: -25px;
  background:-webkit-linear-gradient($primaire 5%, $secondaire);
   background-clip:text;
   -webkit-background-clip:text;
   color:transparent;
    -webkit-text-stroke-width: 0;
    opacity: 0;
    transition: opacity 5s;   
  }
}
.coeur:hover {
      & :nth-child(1) i {
    opacity: 0;}
    & :nth-child(2) i {
      opacity: 1;
  }
}


  
  
  

 