@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";

@include resetcss;
@include fonts;
body {
    font-family: 'robotoregular', sans-serif; 
    font-size: em(16, $tbase);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
a {text-decoration: none;
color: inherit;}
h1{display: none;}
h2{
    font-size: em(23, $tbase);
    font-weight: 700;
  }
.load-spinner{
    position: fixed;
    margin-top: -100vh;
    width: 100vw;
    height: 100vh;
    background: $gris-footer;
    opacity: .9;
    z-index: 150;
    animation: fadein 5s;
}
@keyframes fadein {
    0% {margin-top: 0;}
    50% {margin-top: 0;
      opacity: .9;
    }
    75% {opacity: .7;}
    90% {opacity: 0.2;}
    100% {
      margin-top: -120vh;
      opacity: 0;
    }
}
.load-spinner--loader {
  display: inline-block;
  position: relative;
  height: em(80, $tbase);
  width: em(80, $tbase);
  margin-top: em(300, $tbase);
  margin-left: purcen(45);
  color: $gris-section;
  & div {
   transform-origin: em(40, $tbase);
   animation: anim-loader 1.5s linear infinite;
 }
 & div::after {
   content: " ";
   display: block;
   position: absolute;
   top: em(15, $tbase);
   left: em(50, $tbase);
   width: em(7, $tbase);
   height: em(7, $tbase);
   border-radius: purcen(50);
   background: #fff;
 }
}
@include loader;
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
    @include flexbox;
    @include fj-c__center;
    text-align: center;
    height: em(52, $tbase);
}
.localisation {
    @include flexbox;
    @include fj-c__center;
    height: em(50, $tbase);
    width: 100%;
    background-color: $gris-input;
    box-shadow: 0 em(4, $tbase) em(4, $tbase) 0 $gris-top inset;
    & &--picto {  
        width: em(29.7, $tbase);
        line-height: em(52, $tbase);
        font-size: rem(16.5, $tbase);
    }
    & &--quartier {
        width: em(134.7, $tbase);
        height: em(50, $tbase);
        border: 0 $transparent;
        background: $transparent;
        color: #000;
        font-weight: 700;
        font-size: rem(16, $tbase);
        line-height: em(16, $tbase);
        &:focus {
            outline: none;
          }
    }
}
.presentation {
  background-color: $gris-section;
  text-align: center;
}
.btn {
    @include button;
    @include degrade;
    &:hover {
     @include button__hover;
     @include degrade__hover;   
    }
}   
.fonctionnement {
    width: 100vw;
    & &--flex {
        @include flexbox;
        justify-content: space-between; 
    }
  }
  .choix {
    @include flexbox;
    align-items: center;
    & &--n {
        width: em(24.6, $tbase);
        height: em(24.6, $tbase);
        font-weight: 800;
        text-align: center;
        color: #fff;
        line-height: em(24.6, $tbase);
        background: $primaire;
        border-radius: 50%;
        z-index: 5;
    }
    & &--intitule {
      @include flexbox;
      align-items: center;
        height: em(74, $tbase);
        margin-left: (em(24.6, $tbase) / 2) * -1;
        border-radius: em(25, $tbase);
        background: $gris-section;
        box-shadow: rgba($gris-moyen, 0.3) 0 0 em(10, $tbase);
      & :nth-child(1) {
        width: 4.7vw;
        font-size: em(17, $tbase);
        color: $gris-moyen;
      }
      & :nth-child(2) {
        margin-left: 5.5vw;
        font-weight: 700;
      }    
      }
  }  
  .choix:hover {
    & :nth-child(2) {
      background-color: $gris-hover;
      & :nth-child(1) {
        color: $primaire;
      }
    }
  }
  section {
    @include flexbox;
    flex-wrap: wrap;
    width: 100vw;
    background: $gris-section;
    & h2 {
      width: 100vw;
    }
    & article {
      @include flexbox;
      & figure {
        border-radius: em(14, $tbase);
        box-shadow: rgba($gris-moyen, 0.3) 0 em(4, $tbase) em(10, $tbase);
        margin-bottom: em(18.3, $tbase);
      }
    }
  }
  .figure--flex {
      @include flexbox;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: 100%;
      overflow: hidden;
      border-radius: em(14, $tbase) em(14, $tbase) 0 0;
      & :nth-child(1) {
        width: 100%;
      }
      & :nth-child(2) {
        position: absolute;
        height: em(29, $tbase);
        width: em(79.8, $tbase);
        margin: em(13, $tbase) em(11.8, $tbase) 0 0;
        text-align: center;
        line-height: em(29, $tbase);
        color: darken($tertiaire, 50);
        background: $tertiaire;
        border-radius: em(2.5, $tbase);
        z-index: 10;
      }
  } 
  #img-pg {
    @include img-pg;
  }
  #img-ne {
    @include img-ne;
  }
  #img-af {
    @include img-af;
  }
  #img-ds {
    @include img-ds;
  }
  .figure--caption {
    & :nth-child(1) {
      font-weight: 700;
    }
  }
.coeur {
  @include flexbox;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: rem(25, 16);
  z-index: 10;
  & :nth-child(1) i {
    -webkit-text-stroke: 1px #000;
    color: transparent;
    opacity: 1;
    transition: opacity 5s; 
  }
  & :nth-child(2) i {
    margin-left: -25px;
  background:-webkit-linear-gradient($primaire 5%, $secondaire);
   -webkit-background-clip:text;
   color:transparent;
    -webkit-text-stroke-width: 0;
    opacity: 0;
    transition: opacity 5s;   
  }
}
.coeur:hover {
      & :nth-child(1) i {
    opacity: 0;}
    & :nth-child(2) i {
      opacity: 1;
  }
}
footer {
  @include flexbox;
  background-color: $gris-footer;
  color: #fff;
}
svg path {
  fill: #fff !important;
  transform: scale(0.55);
  }