//Pour mobile
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";

@media #{$mobile-up} {      
    .presentation {
        padding: em(42, $tbase) 0 em(57, $tbase) 0;
        & h2 {
        padding: 0 25vw 0 25vw;
         }
        & p {
         padding: em(21.7, $tbase) 15vw 0 15vw;
        }
     }
     .btn {margin-top: em(30.8, $tbase);}
    .fonctionnement {
        margin-top: em(48.4, $tbase);
        padding-left: 5.4vw;
        & &--flex {
           flex-direction: column;
            height: em(270, $tbase);
            width: 89.2vw;
        }    
    }
    .choix {
      & &--intitule {
          width: 83.8vw;
          height: em(74, $tbase);
          padding-left: 10.4vw;
          margin-top: em(31.7, $tbase);
          & :nth-child(2) {
            margin-left: 5.5vw;
        }
      }
    }

section {
    margin-top: em(89.8, $tbase);
    padding: em(56.1, $tbase) 0 em(45.1, $tbase) 5.4vw; 
    & article {
        flex-wrap: wrap;
        & figure {
            width: 86.2vw;
        }
      } 
}
.coeur {
    margin-top: em(28.1, 16) * -1;
    padding-right: em(25.1, $tbase);
}
footer {   
    padding: em(14, $tbase) 0 em(24, $tbase) 10.4vw;
    & p {line-height: em(25, $tbase);}
}
}