@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";

@media #{$desktop-up} {
body {overflow-y: hidden;}
header {height: 5vh;}
.img-menu {
    height: 35vh;
}  
.m-pg {
   transform: scale(1.04, .87) translate(em(4.9, 16) * -1, em(300, 16) * -1);
}
.m-ne {
    transform: scale(1, 1) translate(em(5, 16) * -1, em(780, 16) * -1);
}
.m-af {
    transform: scale(1, .85) translate(0, em(380, 16) * -1);
}
.m-ds {
    transform: scale(1.5, 1) translate(em(5, 16) * -1, em(395, 16) * -1);
}
.section-menu {
    & h2 {
        & i {
            padding-left: em(10, $tbase);
        }
    }
    & article {
        justify-content: flex-start;
        width: 33%;
        height: 50vh;
        z-index: 10;
        & h4 {
            padding-bottom: em(1, $tbase);
          }
    }
    & .recette {
        & .plat {
            width: 93%;
        }
        & .recette-suite {
            font-size: rem(15, 16);
            font-stretch: 50%;
          }
        & .retour {max-width: 15vw;
        }
        }
    }
.recette:hover { 
        & .plat {               
            width: 85%;
          & .noretour {
              width: purcent(167, 290);
              }
          }
        & .coche {
            transform: translate(-2em);
        }
}
aside {
    margin-top: -64vh;
    margin-left: 80vw;
    z-index: 5;
    & .commande {
      padding: 0 2vw 0 2vw;
    }
}

}
