@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";

@media #{$tablet-up} {

.img-menu {
    height: 35vh;
} 
.m-pg {
   transform: scale(1.04, .87) translate(em(4.9, 16) * -1, em(250, 16) * -1);
}
.m-ne {
    transform: scale(1, 1) translate(em(5, 16) * -1, em(540, 16) * -1);
}
.m-af {
    transform: scale(1, .85) translate(0, em(330, 16) * -1);
}
.m-ds {
    transform: scale(1, 1) translate(em(5, 16) * -1, em(320, 16) * -1);
} 
.section-menu {
    justify-content: space-between;
    padding-right: 3vw;
        & h2 {
            & i {
                padding-left: em(10, $tbase);
            }
        }
        & article {
            justify-content: flex-start;
            width: 33%;
            height: 60vh;
            z-index: 10;
            & h4 {
                padding-bottom: em(1, $tbase);
              }
        }
        & .recette {
            @include flexbox;
            & .plat {
                width: 93%;
                font-stretch: condensed;
            }
            & .recette-suite {
                font-size: rem(12.5, $tbase);
              }
            & .retour {max-width: 15vw;
            }
            & .prix {
                @extend .recette-suite;             
            }
            .coche {
                margin-left: 100%;
            }
            }
        .recette:hover {
            & .plat {
                width: 80%;   
                & .noretour {
            width: 70%;
            }
            }
            & .coche {
                transform: translate(-2em);
            }
        }    
  }

  aside {
    margin-top: -72vh;
    margin-left: 80vw;
    z-index: 5;
    & .commande {
      padding: 0 2vw 0 2vw;
    }
}

}