@charset "UTF-8";
/* Enlever l'unité */
/* Convertir pixel en rem */
/* Convertir pixel en em */
/* Convertir pixel en % */
/* Convertir pixel en vw */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: "robotoregular";
  src: url("essai/roboto-v20-latin-regular-webfont.woff2") format("woff2"), url("essai/roboto-v20-latin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("essai/shrikhand-v6-latin-regular-webfont.woff2") format("woff2"), url("essai/vshrikhand-v6-latin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", sans-serif;
  font-size: 1em;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: none;
}

h2 {
  font-size: 1.4375em;
  font-weight: 700;
}

.load-spinner {
  position: fixed;
  margin-top: -100vh;
  width: 100vw;
  height: 100vh;
  background: #353535;
  opacity: 0.9;
  z-index: 150;
  animation: fadein 3s;
}
.load-spinner .load-spinner--loader {
  display: inline-block;
  position: relative;
  height: 5em;
  width: 5em;
  margin-top: 18.75em;
  margin-left: 45%;
  color: #f6f6f6;
}
.load-spinner .load-spinner--loader div {
  transform-origin: 2.5em;
  animation: anim-loader 1.5s linear infinite;
}
.load-spinner .load-spinner--loader div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.9375em;
  left: 3.125em;
  width: 0.4375em;
  height: 0.4375em;
  border-radius: 50%;
  background: #fff;
}

.load-spinner--loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.load-spinner--loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.load-spinner--loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.load-spinner--loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.load-spinner--loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.load-spinner--loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.load-spinner--loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.load-spinner--loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.load-spinner--loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.load-spinner--loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.load-spinner--loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.load-spinner--loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes fadein {
  0% {
    margin-top: 0;
  }
  99% {
    margin-top: 0;
  }
  100% {
    margin-top: -100vh;
  }
}
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  text-align: center;
  height: 3.25em;
}

.localisation {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  height: 3.125em;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: 0 0.25em 0.25em 0 #cfcfcf inset;
}
.localisation .localisation--picto {
  width: 1.85625em;
  line-height: 3.25em;
  font-size: 1.03125rem;
}
.localisation .localisation--quartier {
  width: 8.41875em;
  height: 3.125em;
  border: 0 transparent;
  background: transparent;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1em;
}
.localisation .localisation--quartier:focus {
  outline: none;
}

.presentation {
  background-color: #f6f6f6;
  padding: 2.625em 0 3.5625em 0;
  text-align: center;
}
.presentation h2 {
  padding: 0 25vw 0 25vw;
}
.presentation p {
  padding: 1.35625em 15vw 0 15vw;
}

.btn {
  margin-top: 1.925em;
  height: 3.125em;
  font-weight: 700;
  border: 0;
  color: #fff;
  padding: 0 1.1875em 0 1.1875em;
  border-radius: 1.5625em;
  outline: none;
  box-shadow: rgba(126, 126, 126, 0.3) 0 0.25em 0.625em;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  background: -moz-linear-gradient(170deg, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(-70deg, #FF79DA, #9356DC);
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.25em 0.625em;
  background: linear-gradient(170deg, #fface8, #ae80e5);
  background: -moz-linear-gradient(170deg, #fface8, #ae80e5);
  background: -webkit-linear-gradient(-70deg, #fface8, #ae80e5);
}

.fonctionnement {
  width: 100vw;
}
.fonctionnement .fonctionnement--flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
}

.choix {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  margin-top: 1.98125em;
}
.choix .choix--n {
  width: 1.5375em;
  height: 1.5375em;
  font-weight: 800;
  text-align: center;
  color: #fff;
  line-height: 1.5375em;
  background: #9356DC;
  border-radius: 50%;
  z-index: 5;
}
.choix .choix--intitule {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  height: 4.625em;
  margin-left: -0.76875em;
  border-radius: 1.5625em;
  background: #f6f6f6;
  box-shadow: rgba(126, 126, 126, 0.3) 0 0 0.625em;
}
.choix .choix--intitule :nth-child(1) {
  width: 4.7vw;
  font-size: 1.0625em;
  color: #7e7e7e;
}
.choix .choix--intitule :nth-child(2) {
  margin-left: 5.5vw;
  font-weight: 700;
}

.choix:hover :nth-child(2) {
  background-color: #f5edff;
}
.choix:hover :nth-child(2) :nth-child(1) {
  color: #9356DC;
}

section {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  width: 100vw;
  background: #f6f6f6;
}
section h2 {
  width: 100vw;
  padding-bottom: 1.45625em;
}
section article {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
section article figure {
  height: 15.6875em;
  border-radius: 0.875em;
  box-shadow: rgba(126, 126, 126, 0.3) 0 0.25em 0.625em;
  margin-bottom: 1.14375em;
}

.figure--flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 10.84375em;
  width: 100%;
  overflow: hidden;
  background: green;
  border-radius: 0.875em 0.875em 0 0;
}
.figure--flex :nth-child(1) {
  width: 100%;
}
.figure--flex :nth-child(2) {
  position: absolute;
  height: 1.8125em;
  width: 4.9875em;
  margin: 0.8125em 0.7375em 0 0;
  text-align: center;
  line-height: 1.8125em;
  color: #1b6150;
  background: #99E2D0;
  border-radius: 0.15625em;
  z-index: 10;
}

#img-pg {
  transform: scale(1.04, 1.3) translate(-0.30625em, -1.25em);
  filter: contrast(110%) brightness(110%) opacity(90%);
}

#img-ne {
  transform: scale(1, 0.7) translate(0, -20.3125em);
  height: 36.25em;
  filter: contrast(110%) brightness(105%) opacity(90%);
}

#img-af {
  transform: scale(1.05, 1.45) translate(0, -1.5625em);
  filter: contrast(130%) brightness(120%) opacity(90%);
}

#img-ds {
  transform: scale(1.05, 1.5) translate(-0.3125em, -1.5625em);
  filter: brightness(120%) opacity(90%);
}

figcaption {
  margin: 0 1.5em 0 0.91875em;
}
figcaption :nth-child(1) {
  margin-top: 1.3em;
  font-weight: 700;
}
figcaption :nth-child(2) {
  margin-top: 0.45625em;
}

.coeur {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: 1.5625rem;
  z-index: 10;
}
.coeur :nth-child(1) i {
  -webkit-text-stroke: 1px #000;
  color: transparent;
  opacity: 1;
  transition: opacity 5s;
}
.coeur :nth-child(2) i {
  margin-left: -25px;
  background: -webkit-linear-gradient(#9356DC 5%, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 0;
  opacity: 0;
  transition: opacity 5s;
}

.coeur:hover :nth-child(1) i {
  opacity: 0;
}
.coeur:hover :nth-child(2) i {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
